---
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.4"
  overlay_image: /assets/images/radishes.jpg
excerpt: '**Exploring ways to nourish our community, the environment, and ourselves through sustainable, mindful farming**'
feature_row:
  - image_path: /assets/images/squash.jpg
    alt: "Photo of three squashes on a truck bed"
    title: "Social Media"
    excerpt: 'Instagram is currently the best way to keep up with our farm and see what we are up to!'
    url: "https://www.instagram.com/strawberry.dog.farm/"
    btn_label: "Check out our Instagram"
    btn_class: "btn--primary"
  - image_path: /assets/images/sunflowers_cropped.jpeg
    alt: "Photo of some of our sunflowers"
    title: "Cut-Flower CSA"
    excerpt: 'Sign up for our cut-flower CSA, starting mid-July!'
    url: "https://www.instagram.com/strawberry.dog.farm/"
    btn_label: "Sign up here!"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
