---
# Only the main Sass file needs front matter (the dashes are enough)
---
$link-color: #cc5a40;
$body-color: #ffffff;
$background-color: #ffffff;
$text-color: #000000;
$masthead-link-color: #cc5a40;
$masthead-link-color-hover: darken(#cc5a40, 15%);
$nav-link-color-hover: darken(#cc5a40, 15%);

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.uniform-image {
    width: 300px; /* Set a fixed width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: Add rounded corners */
    object-fit: cover; /* Ensure the image covers the area without distortion */
}

.greedy-nav a:hover {
  border-bottom-color: darken(#cc5a40, 15%) !important; /* To change the underline color when you hover*/
  //background-color: #fffbf0 !important; /* if you want to change the background color of masthead */
}

// Make the logo bigger in the header
.site-logo img {
  max-height: 6rem !important;
}
